@import url('https://fonts.googleapis.com/css2?family=Wix+Madefor+Text:wght@400;500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Wix Madefor Text', sans-serif; 
}

body{
    display: flex;
    height: 100vh;
    align-items: center;
    justify-content: center;
}
/* classe para configurar video como background */ 
.bg_video{
	position: fixed; 
	right: 0; 
	bottom: 0;
	min-width: 100%; 
	min-height: 100%;
	width: auto; 
	height: auto; 
	z-index: -1000;
	background: url(/wavygrass.mp4) no-repeat;
	background-size: cover; 
}


.relogio{
    display: flex;
    text-align: center;
    align-items: center;
    height: 450px;
    width: 720px;
    border-radius: 20px;
    box-shadow: 0px 8px 10px rgba(0, 0, 0, .75);
    justify-content: space-around;
}

.tempo,
.descricao{
    display: flex;
    flex-direction: column;
    color: #aaa;
    animation: neon 100000000000s ease-in-out infinite alternate;
}

    @keyframes neon{
        from{text-shadow: 0 0 35px #721818,
                          0 0 40px #aaa ;}
    }


#horas,
#minutos,
#segundos {
    color: #fff;
    font-size: 70px;
    font-weight: 500;
}

#horas:hover,
#minutos:hover,
#segundos:hover{
    cursor: pointer;
    color: rgb(156, 83, 0);
}


#day,
#month,
#year {
    font-size: 30px;
    color: #fff;
}


